.header-card {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000;
  background-color: #afeeee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Style for code section */
.header-card .code {
  background-color: #008080;
  color: white;
  padding: 8px 12px;
  border-radius: 8px 0 12px 8px;
  border-right: 2px solid #afeeee;
}

/* Style for name section */
.header-card .name {
  padding: 8px 12px;
}


.card-list {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 cards per row */
  gap: 5px;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;  /* Divider width */
  background-color: #000; /* Divider color */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.col-svc {
  padding: 8px 8px 8px 8px;
  margin: 0 0 0 0;
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-eta {
  padding: 8px 8px 8px 8px;
  margin: 0 0 0 0;
  background-clip: padding-box;
  display: flex;
  justify-content: left;
  align-items: center;
}

.eta-wrap {
  display: inline-block;
  text-align: center;
}

.svc {
  padding: auto;
  margin: 0 0 0 0;
  font-size: 48px;
  color: #fff;
  font-weight: bold;
}

.eta-time {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}

.eta-min {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

/* Optional: Color styling */
.olive  {   text-align: center; background-color: #9CBB04; color: #000;  }
.gray1  {   text-align: left; background-color: #666A6D; }
.gray2  {   text-align: left; background-color: #808588; }


.green  { border-left: 3px solid #69ff00; }
.amber  { border-left: 3px solid #ffbf00; }
.red  { border-left: 3px solid #cc310e; }

.soonest-list.horizontal {
  display: flex;
  flex-wrap: nowrap;      /* Or use wrap if you want rows on overflow */
  overflow-x: auto;
  gap: 10px;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.chevron-item {
  flex: 0 0 auto;
}

.chevron-left {
  position: relative;
  background-color: #e0f7fa;
  color: #000;
  padding: 10px 16px 10px 24px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  clip-path: polygon(15px 0%, 100% 0%, 100% 100%, 15px 100%, 0% 50%);
}

.bus-no {
  font-weight: bold;
}

.bus-stop {
  font-size: 90%;
  color: #333;
  word-break: break-word;
}

.eta {
  font-size: 90%;
}

.eta.green {
  color: green;
}

.eta.amber {
  color: orange;
}

.eta.red {
  color: red;
}

