.header-section {
  padding: 10px 0 5px 0;
}

.header-card {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #000;
  background-color: #afeeee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Style for code section */
.header-card .code {
  background-color: #008080;
  color: white;
  padding: 8px 12px;
  border-radius: 8px 0 12px 8px;
  border-right: 2px solid #afeeee;
}

/* Style for name section */
.header-card .name {
  padding: 8px 12px;
}


.card-list {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 5px;
}

.card {
  display: grid;
  grid-template-columns: 28% 23% 23% 23%;
  gap: 5px;  /* Divider width */
  background-color: #000; /* Divider color */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.col-svc {
  padding: 8px 8px 8px 8px;
  margin: 0 0 0 0;
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-eta {
  padding: 8px;
  margin: 0;
  background-clip: padding-box;
  display: flex;
  justify-content: space-between;  /* optional: pushes items apart */
  align-items: center;
}

.eta-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; /* or start if you want left-aligned */
}

.svc {
  padding: auto;
  margin: 0 0 0 0;
  font-size: 48px;
  color: #fff;
  font-weight: bold;
}

.eta-time {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}

.eta-min {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

/* Optional: Color styling */
.olive  {   text-align: center; background-color: #9CBB04; color: #000;  }
.gray  {   text-align: left; background-color: #666A6D; }


.green  { border-left: 3px solid #69ff00; }
.amber  { border-left: 3px solid #ffbf00; }
.red  { border-left: 3px solid #cc310e; }

.soonest-section {
  padding: 5px;
}

.soonest-list.horizontal {
  display: flex;
  flex-wrap: nowrap;           /* No wrapping */
  overflow: hidden;            /* No scrolling */
  list-style: none;
  padding: 10px 15px 10px 15px;
  margin: 0;
  border: 2px solid #808588;
  border-radius: 8px;
  gap: 20px;                       /* Remove gap to fit exactly */
  width: 100%;                 /* Make sure it fills the container */
  box-sizing: border-box;      /* Include padding in width */
}

.chevron-item {
  flex: 0 0 18%;               /* Exactly 20% width */
  max-width: 18%;
  white-space: nowrap;
}

.chevron-left {
  position: relative;
  background-color: #9CBB04;
  color: #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  clip-path: polygon(15px 0%, 100% 0%, 100% 100%, 15px 100%, 0% 50%);
}

.bus-no {
  font-size: 48px;
  font-weight: bold;
}

.eta {
  color: #808588;
  font-size: 24px;
  font-weight: bold;
}

.eta-arr {
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.dd-image {
  width: 24px;
  height: 48px;
  background-image: url('../images/dd.png');
  background-size: contain;       /* or contain */
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.sd-image {
  width: 24px;
  height: 48px;
  background-image: url('../images/sd.png');
  background-size: contain;       /* or contain */
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 8px;
}